<article>
	<h1>Lead</h1>

	<p class="lead">Styling for a lead that has a leading equal to base leading, but bigger font-size. This paragraph is styled as that.</p>

	<p>Here is a normal paragraph to show the difference.</p>

	<pre>
		<code>
{@html `
.lead {
	--lead-line-height: 1.3;
	font-size: calc((1em * (1 + var(--added-lead, .6))) /
		var(--lead-line-height));
	line-height: var(--lead-line-height);
	/* hyphens: manual; */
}
`}
		</code>
	</pre>
</article>

<style>
	.lead {
		--lead-line-height: 1.3;
		font-size: calc((1em * (1 + var(--added-lead, .6))) /
			var(--lead-line-height));
		line-height: var(--lead-line-height);
	}
</style>
