<script>
	import Render from '../../components/RenderMarkdown.svelte';
	import listsBefore from '../../../doc/lists-before.css.md';
	import listsMarker from '../../../doc/lists-marker.css.md';
</script>

<article>
	<h1>Lists Styles</h1>

	<p>There's am issues with Floor Typography CSS's default list styles:</p>

	<ol>
		<li>
			Lists' left spacing may be considered to break typographic rythm.
		</li>
	</ol>

	<h2>Improvements</h2>

	<ul>
		<li>
			Top list items can flush left so bullets/numbers left align with body text.
		</li>
		<li>
			Dependent on the page layout, on bigger screens the top list item <em>content</em> can align with the body text. Robert Bringhurst would like that.
		</li>
		<li>
			We should have the option to color list markers.
		</li>
	</ul>

	<h2>Using <code>::before</code></h2>
	<p>While waiting for <code>::marker</code> support perhaps we can solve this with <code>::before</code>, custom counters, and a negative text-indent.</p>

	<div class="list-style-before">
		<ol>
			<li>
				Ordered list items are not inside.
			</li>
			<li>They still scale in long lists. Browser default would overflow.</li>
			<li>
				Block elements within a list item would break (there's a rough fix for that):
				<ul>
					<li>
						<blockquote>
							<p>The cloning of humans is on most of the lists of things to worry about from Science, along with behaviour control, genetic engineering, transplanted heads, computer poetry and the unrestrained growth of plastic flowers.</p>
							<footer>– Lewis Thomas</footer>
						</blockquote>
					</li>
					<li>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
					</li>
				</ul>
			</li>
		</ol>

		<ol>
			<li>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
				</p>
			</li>
			<li>
				<h3>Lorem Ipsum</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
				</p>
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
			</li>
		</ol>

	</div>

	<h3>Code <code>::before</code> Lists</h3>
	<Render markdown="{listsBefore}" />

	<h2>Using <code>::marker</code></h2>

	<div class="list-style-marker">
		<ul><li>An <code>ul</code> item.</li></ul>
		<ol>
			<li>
				Ordered list items are not inside.
			</li>
			<li>They still scale in long lists. Browser default would overflow.</li>
			<li>
				Block elements within a list item would break (there's a rough fix for that):
				<ul>
					<li>
						<blockquote>
							<p>The cloning of humans is on most of the lists of things to worry about from Science, along with behaviour control, genetic engineering, transplanted heads, computer poetry and the unrestrained growth of plastic flowers.</p>
							<footer>– Lewis Thomas</footer>
						</blockquote>
					</li>
					<li>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
					</li>
				</ul>
			</li>
		</ol>

		<ol start="10000">
			<li>
				<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
	</p>
			</li>
			<li>
				<h3>Lorem Ipsum</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
				</p>
			</li>
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus. Eu mi bibendum neque egestas congue...
			</li>
		</ol>
	</div>

	<h3>Code <code>::marker</code> Lists</h3>
	<Render markdown="{listsMarker}" />
</article>

<style>
	ol, ul,
	article {
		box-shadow: inset .375ch 0 rgba(0,0,0,.15);
	}

	.list-style-before :global(> ol:nth-of-type(2)) {
		counter-set: ol-counter 10000;
	}

	/** List-Style Before */

	.list-style-before :global(ol),
	.list-style-before :global(ul) {
		--indent: 2ch;
		list-style: none;
		padding-inline-start: var(--indent);
	}

	.list-style-before :global(ol) {
		counter-reset: ol-counter;
	}

	.list-style-before :global(li) {
		text-indent: calc(var(--indent) * -.5);
		margin: var(--spacer, 1rem) 0;
	}

	.list-style-before :global(li::before) {
		display: inline-block;
		min-width: calc(var(--indent) * .5);
		color: gray;
		font-weight: bold;
		text-align: end;
	}

	.list-style-before :global(ol > li::before) {
		counter-increment: ol-counter;
		content: counter(ol-counter) ".\0000a0"; /* \0000a0 is space */
	}

	.list-style-before :global(ul > li::before) {
		content: "\2022\0000a0"; /* \2022 is bullet */
	}

	/* Fix text-indent side effect on child elements. */
	.list-style-before :global(li :not(li)) {
		text-indent: 0;
	}

	/* Fix first-child block elements */
	.list-style-before :global(li > :first-child:not(ol):not(ul)),
	.list-style-before :global(li > * > :first-child:not(ol):not(ul):not(li)) {
		display: inline;
	}

	/** List-Style Marker */

	.list-style-marker {
		--indent: 2ch;
	}

	.list-style-marker :global(li) {
		margin: var(--spacer, 1rem) 0;
	}

	.list-style-marker :global(li::marker) {
		color: gray;
		font-weight: bold;
	}

	/* ul */
	.list-style-marker :global(ul) {
		list-style: none;
		padding-inline-start: var(--indent);
	}

	.list-style-marker :global(ul > li::marker) {
		content: '\2022\0000a0\0000a0'; /* \2022 is bullet */
		/* content: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: block; font-size: 1ch;"><circle cx="5" cy="10" r="5" fill="blue" /></svg>'); */
	}

	/* ol */
	.list-style-marker :global(ol) {
		padding-inline-start: var(--indent);
	}

	.list-style-marker :global(ol > li) {
		text-indent: calc(var(--indent) * -1);
	}

	/* Fix text-indent side effect on child elements. */
	.list-style-marker :global(ol li :not(li)) {
		text-indent: 0;
	}

	/* Fix first-child block elements */
	.list-style-marker :global(ol > li > :first-child:not(ol):not(ul)),
	.list-style-marker :global(ol > li > * > :first-child:not(ol):not(ul):not(li)) {
		display: inline;
	}

	.list-style-marker :global(ol > li > :first-child:not(ol):not(ul) + *),
	.list-style-marker :global(ol > li > * > :first-child:not(ol):not(ul):not(li) + *) {
		margin-block-start: var(--spacer, 1rem);
	}
</style>
