<article>
	<h1>Leading as Spacing</h1>

	<p>If you set <code>--spacer</code> to equal one line-height (what Robert Bringhurst suggests), lines will line up across columns with different headings and of different length.</p>

	<p><em>Grid example with different headings length. Notice how, even so, lines in the following paragraphs line up:</em></p>

	<ol class="nn-usability">
		<li>
			<p class="h2">Visibility <em>of</em> System Status</p>
			<p>Designs should <strong>keep users informed</strong> about what is going on, through appropriate, timely feedback.</p>
		</li>
		<li>
			<p class="h2">Match between System and the Real World</p>
			<p>The design should speak the users' language. Use words, phrases, and concepts <strong>familiar to the user,</strong> rather than internal jargon.</p>
		</li>
		<li>
			<p class="h2">User Control <em>and</em> Freedom</p>
			<p>Users often perform actions by mistake. They <strong>need a clearly marked "emergency exit"</strong> to leave the unwanted state.</p>
		</li>
	</ol>

	<p>Set it like so:</p>

	<pre>
		<code>
{@html `
:root {
	--spacer: calc(1rem * (1 + var(--added-lead, .6)));
}
`}
		</code>
	</pre>

	<p>If this makes headings' margins feel too big you may want to not include the headings-margin.css and apply your own styles. Like only setting simpler margins on h4, h5 and h6:</p>

	<pre>
		<code>
{@html `
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-block-end: 0;
}

h4 + *, .h4 + *,
h5 + *, .h5 + *,
h6 + *, .h6 + * {
	margin-block-start: 0;
}
`}
		</code>
	</pre>

	<div class="two-columns">
		<section>
			<h2>Default</h2>
			<p class="h1">Heading One</p>
			<p>And a following paragraph.</p>
			<p class="h2">Heading Two</p>
			<p>And a following paragraph.</p>
			<p class="h3">Heading Three</p>
			<p>And a following paragraph.</p>
			<p class="h4">Heading Four</p>
			<p>And a following paragraph.</p>
			<p class="h5">Heading Five</p>
			<p>And a following paragraph.</p>
			<p class="h6">Heading Six</p>
			<p>And a following paragraph.</p>
		</section>

		<section>
			<h2>Simpler</h2>

			<div class="less-margins">
				<p class="h1">Heading One</p>
				<p>And a following paragraph.</p>
				<p class="h2">Heading Two</p>
				<p>And a following paragraph.</p>
				<p class="h3">Heading Three</p>
				<p>And a following paragraph.</p>
				<p class="h4">Heading Four</p>
				<p>And a following paragraph.</p>
				<p class="h5">Heading Five</p>
				<p>And a following paragraph.</p>
				<p class="h6">Heading Six</p>
				<p>And a following paragraph.</p>
			</div>
		</section>
	</div>

</article>

<style>
	article > :not(h1) {
		--spacer: calc(1rem * (1 + var(--added-lead, .6)));
	}

	.less-margins h1,
	.less-margins .h1,
	.less-margins h2,
	.less-margins .h2,
	.less-margins h3,
	.less-margins .h3 {
		margin-block-start: var(--spacer);
		margin-block-end: var(--spacer);
	}

	.nn-usability {
		/* Reset */
		list-style: none;
		padding: 0;
		width: unset;
		max-width: none;

		/* Style */
		--size: min(3vw, 1.3rem);
		--added-lead: .6;
		--spacer: calc(var(--size) * (1 + var(--added-lead)));
		font-size: var(--size);
		line-height: calc(1 + var(--added-lead));
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--spacer);
		font-family: var(--font-system);
	}

	.nn-usability em {
		font-weight: normal;
	}

	.two-columns {
		width: unset; max-width: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2vw;
		overflow-wrap: anywhere;
	}
</style>
