<script>
	import { link, location } from "svelte-spa-router";
	import gotoElement from "../utils/gotoElement.js";

	const pages = [
		{
			href: "/",
			label: "Home",
		},
		{
			href: "/documentation/files",
			label: "Files",
		},
		{
			href: "/documentation/variables",
			label: "Variables",
		},
		{
			href: "/documentation/styling",
			label: "Styling",
		},
	];
	export let pageContent = [];
</script>

<nav tabindex="-1">
	<div class="top-wrapper">
		<h2 class="h4 site-title">
			<strong>
				<a
					href="/"
					use:link
					class="site-title"
					aria-current={"/" === $location ? "true" : undefined}
				>
					Floor Typography CSS
				</a>
			</strong>
		</h2>

		<ul class="pages">
			{#each pages as item}
				<li>
					<a
						href={item.href}
						use:link
						aria-current={item.href === $location ? "true" : undefined}
						>{item.label}</a
					>
				</li>
			{/each}
		</ul>
	</div>

	<details>
		<summary>Page content</summary>
		<ol start="0">
			{#each pageContent as item}
				<li>
					<button on:click={gotoElement(item)}>
						{item.innerText}
					</button>
				</li>
			{/each}
		</ol>
	</details>
</nav>

<style>
	.site-title a,
	ul a {
		color: hsla(var(--fg-h), 0%, var(--fg-l), 100%);
		text-decoration: none;
		display: inline-block;
	}

	button,
	.site-title a,
	ul a,
	summary {
		padding: calc(0.25 * var(--spacer, 1rem)) 0;
	}

	.site-title,
	.pages,
	details :is(ol, ul),
	nav > :is(p, ul, details) {
		margin: 0;
	}

	nav[tabindex]:focus {
		outline: none;
	}

	ol,
	ul {
		padding: 0;
		list-style: none;
	}

	nav .pages {
		display: flex;
		flex-wrap: wrap;
		gap: calc(0.25 * var(--spacer, 1rem)) var(--spacer, 1rem);
	}

	@media (min-width: 600px) {
		.top-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 0 var(--spacer, 1rem);
		}
	}

	@media (min-width: 900px) {
		details :is(ol, ul) {
			display: flex;
			flex-wrap: wrap;
			gap: calc(0.25 * var(--spacer, 1rem)) var(--spacer, 1rem);
		}
	}

	/* Current menu item */

	a:not(.site-title)[aria-current] {
		text-decoration: underline;
	}

	/* Logo */

	.site-title a::before {
		content: "";
		display: inline-block;
		margin-inline-end: 0.1rem;
		width: 0.9rem;
		height: 1em;
		box-shadow: inset 0 calc(-1 * var(--logo-height));
	}
</style>
