<script>
	import GlobalNav from './components/GlobalNav.svelte';
	import routes from './routes.js';
	import Router from 'svelte-spa-router';
	import gotoElement from './utils/gotoElement.js';

	let pageElement;
	let mainElement;
	let pageContent = [];

	const routeLoaded = () => {
		pageElement.focus();
		// Create submenu
		pageContent = mainElement.querySelectorAll('h2');
		pageContent.forEach(el => el.setAttribute('tabindex', '-1'));
	};
</script>

<div class="site-top" bind:this="{pageElement}" tabindex="-1">
	<header>
		<GlobalNav {pageContent} />
	</header>

	<main bind:this="{mainElement}">
		<Router
			restoreScrollState={true}
			{routes}
			on:routeLoaded={routeLoaded}
			/>
	</main>
</div>

<hr aria-hidden="true">
<footer class="site-footer">
	<h2 class="h3"><em>This website.</em></h2>
	<p>
		It documents <em>latest</em>, or if <em>next</em>, version of Floor Typography CSS.
		It does not collect any personal information and uses no cookies.
	</p>

	<ul>
		<li>
			<a href="https://gitlab.com/johanland/floor-typography">Gitlab &nearr;</a>
		</li>
		<li>
			<a href="//gitlab.com/johanland/floor-typography/-/tags">Browse versions &nearr;</a>
		</li>
		<li>
			<button on:click={gotoElement(pageElement)}>
				Top of page &uarr;
			</button>
		</li>
	</ul>
</footer>

<style global>
	@import '../src/floor.css';
	@import '../src/floor-sub-sup.css';
	@import '../src/headings.css';
	@import '../src/headings-md.css';

	:root {
		--body-gap-x: max(6vw, 1rem);
		--logo-height: .25ex;
		--mono-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; /* Mono elements' fonts are set to --mono-font */
		--code-bg: hsla(0 0% 50% / 12.5%);
		--font-size: clamp(1rem, 1rem + 0.55vw, 1.25em);

		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}

	header, main {
		--spacer: var(--font-size);
		font-size: var(--font-size);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--fg-h: 0; --fg-s: 0%; --fg-l: 85%;
			background: hsl(0, 0%, 6.5%);
		}
	}

	@media (min-width: 900px) {
		:root {
			--body-gap-x: 15vw;
			--font-size: clamp(1rem, .5rem + 0.55vw, 1.12em);
		}
	}

	body {
		color: hsl(var(--fg-h,0) var(--fg-s,0%) var(--fg-l,0%));
		margin: 0;
		padding: 0 var(--body-gap-x) var(--font-size);
	}

	.site-top {
		padding-block-start: var(--font-size);
		min-height: 100vh; /* Too avoid footer from bouncing into view when routes are dynimically imported */
		outline: none;
	}

	.site-footer * {
		display: inline;
		padding: 0;
	}

	.site-footer ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1em;
	}

	/** Site width */

	article > *,
	.site-footer {
		max-width: 50rem;
	}

	/** Code blocks */

	code {
		font-size: .85em;
		position: relative;
	}

	pre code {
		font-size: calc(.75rem + .1em);
	}

	pre {
		background: var(--code-bg);
		border-radius: .25rem;
		box-shadow:
			0 6px 10px 2px hsla(
				0 0% 0% / calc(12% + var(--fg-l,0%))
			);
		font-size: var(--font-size);
		position: relative;
		padding: var(--spacer, 1rem) var(--font-size);
		tab-size: 2;

		overflow-y: auto;
		overflow-wrap: normal;
		white-space: pre;
	}

	/** Headings */

	h1, .h1 {
		margin-block-start: calc(3.5 * var(--spacer, 1rem));
		margin-block-end: calc(2.5 * var(--spacer, 1rem));
	}

	h2, .h2 {
		margin-block-start: calc(var(--spacer, 1rem) * 3);
		margin-block-end: calc(var(--spacer, 1rem) * 2);
	}

	h3, .h3 {
		margin-block-start: calc(var(--spacer, 1rem) * 1.5);
		margin-block-end: calc(var(--spacer, 1rem) * .5);
	}

	h4, .h4,
	h5, .h5,
	h6, .h6 {
		margin-block-end: 0;
	}

	h3 + :not(hr), .h3 + :not(hr),
	h4 + :not(hr), .h4 + :not(hr),
	h5 + :not(hr), .h5 + :not(hr),
	h6 + :not(hr), .h6 + :not(hr) {
		margin-block-start: 0;
	}

	/** Other elements */

	a, button {
		color: inherit;
	}

	article a {
		text-decoration-thickness: 2px;
		text-decoration-color: hsla(var(--fg-h, 0) var(--fg-s, 0%) var(--fg-l, 0%) / .4);
	}

	article a:hover {
		text-decoration-color: hsl(var(--fg-h, 0) var(--fg-s, 0%) var(--fg-l, 0%));
	}

	button {
		background: transparent;
		border: none;
		font-size: 1em;
		line-height: inherit;
		margin: 0; /* for Safari when not only inline */
		padding: 0;
		text-align: start;

		text-decoration: underline;
	}

	ol, ul { padding-inline-start: 1em; }
	em em { font-weight: bolder; }
</style>
