<script>
	import Render from '../components/RenderMarkdown.svelte';
	import markdown from '../../doc/README';
</script>

<article>
	<Render {markdown} />
</article>

<style>
	article :global(> ul:nth-of-type(1)) {
		display: grid;
		gap: calc(1 * var(--spacer, 1rem)) calc(3 * var(--spacer, 1rem));

		padding: calc(2 * var(--spacer, 1rem)) 0;
		
		padding-inline-start: 1rem;
		list-style: none;
		text-indent: -1rem;
	}

	article :global(> ul:nth-of-type(1) li::before) {
		content: '';
		display: inline-block;
		margin-inline-end: .1rem;
		width: .9rem; height: 1em;
		box-shadow: inset 0 calc(-1 * var(--logo-height));
	}

	@media (min-width: 600px) {
		article :global(> ul:nth-of-type(1)) {
			width: 100%;
			max-width: 60em;

			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 1200px) {
		article :global(> ul:nth-of-type(1)) {
			grid-template-columns: repeat(3, calc(100% / 3));
		}
	}
</style>
