h1, .h1,
h2, .h2 {
	margin-block-start: calc(var(--spacer, 1rem) * 2);
	margin-block-end: calc(var(--spacer, 1rem) * 1);
}

h3, .h3 {
	margin-block-start: calc(var(--spacer, 1rem) * 1.5);
	margin-block-end: calc(var(--spacer, 1rem) * .5);
}

h4, .h4,
h5, .h5,
h6, .h6 {
	margin-block-end: 0;
}

:is(
	h3,.h3,
	h4,.h4,
	h5,.h5,
	h6,.h6
) + :not(hr) {
	margin-block-start: 0;
}
