/* variables for setting headings' font-family */
h1, .h1 { font-family: var(--h1-font, var(--headings-font)); }
h2, .h2 { font-family: var(--h2-font, var(--headings-font)); }
h3, .h3 { font-family: var(--h3-font, var(--headings-font)); }
h4, .h4 { font-family: var(--h4-font, var(--headings-font)); }
h5, .h5 { font-family: var(--h5-font, var(--headings-font)); }
h6, .h6 { font-family: var(--h6-font, var(--headings-font)); }
