h1, .h1 {
	margin-block-start: calc(3.5 * var(--spacer, 1rem));
	margin-block-end: calc(2.5 * var(--spacer, 1rem));
}

h2, .h2 {
	margin-block-start: calc(3 * var(--spacer, 1rem));
	margin-block-end: calc(2 * var(--spacer, 1rem));
}

h3, .h3 {
	margin-block-start: calc(2 * var(--spacer, 1rem));
	margin-block-end: var(--spacer, 1rem);
}

h4, .h4 {
	margin-block-start: calc(1.5 * var(--spacer, 1rem));
	margin-block-end: calc(.5 * var(--spacer, 1rem));
}

h5, .h5,
h6, .h6 {
	margin-block-start: calc(1 * var(--spacer, 1rem));
	margin-block-end: 0;
}

:is(
	h3,.h3,
	h4,.h4,
	h5,.h5,
	h6,.h6
) + :not(hr) {
	margin-block-start: 0;
}
