/* Based on Bootstrap!
 *
 * `visually-hidden` hides the content for screen readers.
 * https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content
 * https://hugogiraudel.com/2016/10/13/css-hide-and-seek
 *
 * `visually-hidden-focusable` hides the content for screen readers unless
 * element or children has focus. Practical for top skip-links to main-content.
 * https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important; /* Fix Bootstrap-issue https://github.com/twbs/bootstrap/issues/25686 */
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
	border: 0 !important;
}
