<script>
	import Render from '../../components/RenderMarkdown.svelte';
	import markdown from '../../../doc/Styling';
	import { link } from 'svelte-spa-router';
</script>

<article>
	<Render {markdown} />

	<h2 id="snippets">More</h2>

	<ul>
		<li>
			<a href="/snippets/space-line-height" use:link>Root line-height as spacing</a>
		</li>
		<li>
			<a href="/snippets/lead" use:link>Lead paragraph</a>
		</li>
		<!-- <li> -->
		<!-- 	<a href="/snippets/list-styles" use:link>List styles</a> -->
		<!-- </li> -->
	</ul>
</article>
